.College_container {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  line-height: 20px;
  margin-top: 30px;
  font-weight: 400;
  color: #3b3b3b;
  cursor:default;
  -webkit-font-smoothing: antialiased;
  }
  .College_cell .College_row :hover {
    background-color: dimgrey;
    color: #e9e9e9;
  }
  @media screen and (max-width: 580px) {
    .College_container {
      font-size: 16px;
      line-height: 18px;
    }
  }
  
  .College_wrapper {
    margin: 0 auto;
    /* padding-top: 30px; */
    /* max-width: 1000px; */
    width:fit-content;
    box-shadow: rgba(9, 9, 14, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
  }
  
  .College_table {
    margin: 0 0 20px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    text-align: center;
  }
  @media screen and (max-width: 580px) {
    .College_table {
      display: block;
    }
  }
  
  .College_row {
    display: table-row;
    background: #f6f6f6;
    cursor: pointer;
  }
  .College_row:hover {
    display: table-row;
    background: rgba(66, 55, 172, 0.877);
    color: #e9e9e9;
    font-weight: 600;
  }
  .College_row:nth-of-type(odd) {
    background: #e9e9e9;
  }
  .College_row:nth-of-type(odd):hover {
    background: rgba(24, 14, 119, 0.5);

  }
  .College_row.College_header {
    font-weight: 600;
    color: #ffffff;
    background: #5443c3;
  }

  @media screen and (max-width: 580px) {
    .College_row {
      padding: 10px 0 7px;
      display: block;
    }
    .College_row.College_header {
      padding: 0;
      height: 6px;
    }
    .College_row.College_header .College_cell {
      display: none;
    }
    .College_row .College_cell {
      margin-bottom: 10px;
    }
    .College_row .College_cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
    }
  }
  
  .College_cell {
    padding: 8px 28px;
    display: table-cell;
    text-align: center;
    width: 100%;
  }
  @media screen and (max-width: 580px) {
    .College_cell {
      padding: 2px 16px;
      display: block;
    }
  }